<div class="filters"></div>

<table class="messages">
  <thead>
    <tr>
      <th class="messages-c-date">Date</th>
      <th class="messages-c-host">Host</th>
      <th class="messages-c-severity">Severity</th>
      <th class="messages-c-facility">Facility</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>